:root {
    --primari-font: 'Roboto', sans-serif;
    --secondari-font: 'Raleway', sans-serif;
    --primari-text-color: #434455;
    --secondari-text-color: #2e2f42;
    --withe-logo-color: #f4f4fd;
    --logo-hover-color: #4d5ae5;
    --hero-text-color: #ffffff;
    --hover-btn-color: #404bbf;
    --footer-text-color: #e7e9fc;
    }
    *{box-sizing: border-box;}
    body
    .container
    {margin-left: 0;
    margin-right: 0;}
    
    font-family Roboto 
    sans-serif
    color var--primari-text-color
    background-color #ffffff
    /*---logo---*/
    .logo {
    font-family: var(--secondari-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--logo-hover-color);
    }
    .logo-dark {
    color: var(--secondari-text-color) #2E2F42;
    }
    .logo-withe {
    color: var(--withe-logo-color);
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        
        
        width: 115px;
        height: 24px;
        left: 156px;
        top: 24px;
    }
    .logo{
        width: 115px;
        height: 24px;
        left: 156px;
        top: 24px;
    }
    /*---hover---*/
    .nav-link:hover,
    .nav-link:focus,
    .contact-mail:hover,
    .contact-mail:focus,
    .contact-tel:hover,
    .contact-tel:focus {
    color: var(--logo-hover-color);
    }
    /*---heder---*/
    .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    color: var(--secondari-text-color);
    }
    .contact-mail,
    .contact-tel {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: inherit;
    }
    .header{
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;}
    /*---hero---*/
    .hero {
    background: var(--secondari-text-color);
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    text-align: center;}
    .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: var(--hero-text-color);
    }
    .main-title {
            padding-top: 188px;
            padding-right: 473px;
            padding-bottom: 292px;
            padding-left: 473px;
        }
    .modal-btn {
        font-weight: 500 ;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 169px;
        height: 56px;
        left: 636px;
        top: 428px;
    color: var(--hero-text-color);
    background-color: var(--logo-hover-color);
    }\negokaz\vscode-live-server-preview\raw\master\doc\img\preview.gif
    .modal-btn:hover,
    .modal-btn:focus {
    background: var(--hero-btn-color);
    }
    
    /*------about------*/
    .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: var(--secondari-text-color);
    }
    .about-text {
    font-size: 16px;
    line-height: 1.5;
    }
    /*---work---*/
    .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--secondari-text-color);
    }
    /*---team---*/
    .team {
    background-color: var(--withe-logo-color);
    }
    .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    
    color: var(--secondari-text-color);
    }
    .developer-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: var(--secondari-text-color);
    }
    .developer-descriptions {
    font-size: 16px;
    line-height: 1.5;
    }
    /*---footer---*/
    .logo {
        font-family: var(--secondari-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        color: var(--logo-hover-color);
        }
        .logo-dark {
        color: var(--secondari-text-color);
        }
        .logo-withe {
        color: var(--withe-logo-color);
        }
    .footer {
    background-color: var(--secondari-text-color);
    }
    .footer-text {
    font-size: 16px;
    line-height: 1.5;
    
    color: var(--footer-text-color);
    }
    /*---portfolio---*/
    .filter-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    color: var(--logo-hover-color);
    
    cursor: pointer;
    }
    .filter-btn-text:focus,
    .filter-btn-text:hover {
    background: var(--hover-btn-color);
    color: #404BBF;
    color: #ffffff;
    }
    .project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    
    color: var(--secondari-text-color);
    }
    .project-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primari-text-color);
    }
    